@import "variables.scss";

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Arial-Nova", sans-serif;
    background-color: $background-tertiary;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
}

svg {
    display: block;
    max-width: 100%;
    min-width: fit-content;
}
input,
button {
    font: inherit;
}
