@import "utils/styles/variables.scss";
@import "utils/styles/font-mixins.scss";

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    background-color: $accent;

    padding: 20px 15px;

    p,
    svg {
        color: $label-primary;
    }
    @media only screen and (min-width: $tablet-width) {
        padding: 40px 52px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    @media only screen and (min-width: $desktop-width) {
        padding: 0px 130px;
    }
}
.phone {
    display: none;
    @media only screen and (min-width: $desktop-width) {
        display: flex;
    }
}
.top {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.title {
    @include h4;
}

.textContainer {
    display: flex;
    align-items: center;

    gap: 10px;

    > p {
        @include text_3;
    }
}
.markets {
    margin-left: auto;
    display: flex;
    gap: 10px;

    > img {
        height: 40px;
    }
}
