@import "utils/variables.scss";
@import "utils/font-mixins.scss";

.card {
    width: 100%;

    display: flex;
    flex-direction: column;

    gap: 40px;

    @media only screen and (min-width: $desktop-width) {
        flex-direction: row;
    }
}

.imageContainer {
    width: 100%;
    position: relative;
    @media only screen and (min-width: $desktop-width) {
        width: 880px;
    }

    > img {
        width: 100%;
        height: 100%;

        @media only screen and (min-width: $desktop-width) {
            width: 880px;
        }
    }
}
.info {
    display: flex;
    flex-direction: column;
}
.title {
    @include h2;
    color: $label-primary;

    margin-bottom: 20px;
}

.date {
    @include text_1;
    color: $label-secondary;
    margin-bottom: 40px;
}
.arrows {
    position: absolute;
    right: 0;
    bottom: -25px;

    display: flex;
    gap: 5px;

    @media only screen and (min-width: $desktop-width) {
        display: none;
    }
}
.desktopArrows {
    display: none;

    margin-top: auto;
    gap: 5px;
    @media only screen and (min-width: $desktop-width) {
        display: flex;
    }
}
