@import "utils/variables.scss";
@import "utils/font-mixins.scss";
@import "utils/home-mixins.scss";

.container {
    @include homeBlock;

    display: flex;
    flex-direction: column;
    gap: 40px;

    @media only screen and (min-width: $desktop-width) {
        gap: 60px;
    }
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > button {
        padding: 15px 20px;

        @media only screen and (min-width: $tablet-width) {
            padding: 20px 40px;
        }
        @media only screen and (min-width: $desktop-width) {
            display: none;
        }
    }
}
.title {
    @include h1;
    color: $label-primary;
}
