@import "utils/styles/variables.scss";
@import "utils/styles/font-mixins.scss";

.container {
    position: relative;
    background-color: $background-quaternary;

    padding: 100px 15px;

    @media only screen and (min-width: $tablet-width) {
        padding: 120px 52px;
    }
    @media only screen and (min-width: $desktop-width) {
        padding: 180px 130px;
        padding-bottom: 492px;
    }
}

.top {
    display: flex;
    flex-direction: column;

    padding-bottom: 40px;
    border-bottom: 1px solid $separator-primary;
    gap: 20px;

    @media only screen and (min-width: $tablet-width) {
    }
    @media only screen and (min-width: $desktop-width) {
        padding-bottom: 60px;
        flex-direction: row;
        gap: 40px;
    }
}

.title {
    @include h1;
    color: $label-tertiary;

    @media only screen and (min-width: $desktop-width) {
        width: 70%;
    }
}

.avgBlock {
    display: flex;
    margin-left: auto;
    gap: 5px;
    @media only screen and (min-width: $tablet-width) {
        gap: 10px;
    }
    @media only screen and (min-width: $desktop-width) {
        justify-content: space-between;
        width: 30%;
    }
}
.avgValue {
    @include h0;
    color: $accent;
}
.avgText {
    @include text_3;
    color: $label-secondary;
}
