@import "utils/styles/variables.scss";
@import "utils/styles/font-mixins.scss";
@import "utils/styles/home-mixins.scss";

.container {
    @include homeBlock;

    display: flex;
    flex-direction: column;
    gap: 40px;

    @media only screen and (min-width: $desktop-width) {
        gap: 60px;
    }
}

.top {
    display: flex;
    justify-content: space-between;

    padding-top: 10px;
    border-top: 1px solid $separator-primary;
}
.bottom {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media only screen and (min-width: $desktop-width) {
        flex-direction: row;
    }
}
.subTitle {
    @include text_3;
    color: $label-primary;
}

.one {
    @include text_3;
    color: $label-secondary;
}

.title {
    @include h0;
    color: $accent;
}

.description {
    @include description;
    color: $label-primary;
}
