@import "variables.scss";

@mixin h0 {
    font-size: 58px;
    line-height: 90%;
    letter-spacing: -0.04em;

    @media only screen and (min-width: $tablet-width) {
        font-size: 68px;
    }
    @media only screen and (min-width: $desktop-width) {
        font-size: 90px;
    }
}

@mixin h1 {
    font-size: 34px;
    line-height: 95%;
    letter-spacing: -0.03em;

    @media only screen and (min-width: $tablet-width) {
        font-size: 44px;
    }
    @media only screen and (min-width: $desktop-width) {
        font-size: 67px;
    }
}

@mixin h2 {
    font-size: 28px;
    line-height: 105%;
    letter-spacing: -0.02em;

    @media only screen and (min-width: $tablet-width) {
        font-size: 51px;
    }
    @media only screen and (min-width: $desktop-width) {
        font-size: 51px;
    }
}

@mixin h3 {
    font-size: 24px;
    line-height: 110%;
    letter-spacing: -0.015em;

    @media only screen and (min-width: $tablet-width) {
        font-size: 32px;
    }
    @media only screen and (min-width: $desktop-width) {
        font-size: 38px;
    }
}

@mixin h4 {
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -0.01em;

    @media only screen and (min-width: $tablet-width) {
        font-size: 19px;
    }
    @media only screen and (min-width: $desktop-width) {
        font-size: 21px;
    }
}

@mixin description {
    font-size: 21px;
    line-height: 120%;
    letter-spacing: -0.02em;

    @media only screen and (min-width: $tablet-width) {
        font-size: 24px;
    }
    @media only screen and (min-width: $desktop-width) {
        font-size: 28px;
    }
}

@mixin text_1 {
    font-size: 16px;
    line-height: 140%;

    @media only screen and (min-width: $tablet-width) {
        font-size: 16px;
    }
    @media only screen and (min-width: $desktop-width) {
        font-size: 16px;
    }
}

@mixin text_2 {
    font-size: 14px;
    line-height: 140%;

    @media only screen and (min-width: $tablet-width) {
        font-size: 14px;
    }
    @media only screen and (min-width: $desktop-width) {
        font-size: 14px;
    }
}

@mixin text_3 {
    font-size: 10px;
    line-height: 200%;
    font-weight: bold;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    @media only screen and (min-width: $tablet-width) {
        font-size: 12px;
    }
    @media only screen and (min-width: $desktop-width) {
        font-size: 12px;
    }
}

@mixin text_4 {
    font-size: 10px;
    line-height: 200%;

    @media only screen and (min-width: $tablet-width) {
        font-size: 12px;
    }
    @media only screen and (min-width: $desktop-width) {
        font-size: 12px;
    }
}
@mixin link {
    font-size: 15px;
    line-height: 18px;
}

@mixin button {
    font-size: 16px;
    line-height: 125%;
}

@mixin button_2 {
    font-size: 13px;
    line-height: 125%;
}
