@import "utils/styles/variables.scss";
@import "utils/styles/font-mixins.scss";

.card {
    display: flex;
    flex-direction: column;

    gap: 40px;
    margin-top: 40px;

    @media only screen and (min-width: $desktop-width) {
        margin-left: auto;
        width: 880px;
    }
}

.top {
    display: flex;
    justify-content: space-between;
}

.user {
    display: flex;
    gap: 10px;

    @media only screen and (min-width: $tablet-width) {
        gap: 15px;
    }
}

.avatar {
    height: max-content;
    border-radius: 50%;

    padding: 13px;

    background-color: $background-primary;

    svg {
        color: $label-primary;
    }

    @media only screen and (min-width: $tablet-width) {
        padding: 18px;
    }
}

.userInfo {
    display: flex;
    flex-direction: column;
}

.username {
    @include h4;
    color: $label-tertiary;
}
.date {
    @include text_2;
    color: $label-secondary;
}

.stars {
    display: flex;
    gap: 5px;
}

.star {
    color: $label-secondary;

    height: 16px;
    width: 16px;
    min-width: auto;
}
.activeStar {
    color: $accent;
}

.arrows {
    display: flex;
    gap: 5px;

    button {
        width: 50px;
        height: 50px;
        @media only screen and (min-width: $tablet-width) {
            width: 60px;
            height: 60px;
        }
    }
}

.comment {
    @include description;
    color: $label-tertiary;
}
