[class*="copyrights-pane"] {
    display: none !important;
}
[class*="ground-pane"] {
    filter: grayscale(100%);
}
[class*="zoom"] {
    height: 30px !important;
}
[class*="float-button"] {
    border-radius: 50% !important;

    width: 40px;
    height: 40px !important;
}
[class*="float-button-icon"] {
    width: 100% !important;
    height: 100% !important;
    box-sizing: border-box !important;
}

[class*="zoom__plus"] {
    [class*="zoom__icon"] {
        background-image: url("/assets/img/Map/plus.png") !important;
    }
}
[class*="zoom__minus"] {
    [class*="zoom__icon"] {
        background-image: url("/assets/img/Map/minus.png") !important;
    }
}
