@import "utils/styles/variables.scss";
@import "utils/styles/font-mixins.scss";

.slider {
    width: 100%;
    height: 100%;

    position: relative;
    overflow: hidden;
}

.slides {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    object-fit: cover;
    object-position: center;
}

.info {
    position: absolute;
    bottom: 27px;
    right: 15px;

    @include h3;
    color: $label-tertiary;

    @media only screen and (min-width: $tablet-width) {
        bottom: 52px;
        right: 53px;
    }
    @media only screen and (min-width: $desktop-width) {
        bottom: 68px;
        right: 130px;
    }
}

.arrows {
    display: flex;
    gap: 5px;

    position: absolute;
    bottom: 15px;
    left: 15px;

    @media only screen and (min-width: $tablet-width) {
        bottom: 40px;
        left: 52px;
    }
    @media only screen and (min-width: $desktop-width) {
        bottom: 59px;
        left: 40px;
    }
}
