@import "utils/variables.scss";
@import "utils/font-mixins.scss";

.slider {
    width: 100%;
    height: 100%;

    position: relative;
}

.slide {
    width: 100%;
    height: 100%;

    position: absolute;

    opacity: 0;
    transition: opacity 1s;
}

.activeSlide {
    opacity: 1;
}
.image {
    width: 100%;
    height: 100%;
}

.info {
    position: absolute;
    bottom: 27px;
    right: 15px;

    @include h3;
    color: $label-tertiary;

    @media only screen and (min-width: $tablet-width) {
        bottom: 52px;
        right: 53px;
    }
    @media only screen and (min-width: $desktop-width) {
        bottom: 68px;
        right: 130px;
    }
}

.arrows {
    display: flex;
    gap: 5px;

    position: absolute;
    bottom: 15px;
    left: 15px;

    @media only screen and (min-width: $tablet-width) {
        bottom: 40px;
        left: 52px;
    }
    @media only screen and (min-width: $desktop-width) {
        bottom: 59px;
        left: 40px;
    }
}
