@import "utils/variables.scss";

.header_service_menu-enter {
    transition: height 0.6s ease;
    // height: 225px;

    .header_service_links {
        animation: openLinks;
        animation-duration: 0.6s;
        animation-delay: 0.3s;
        animation-fill-mode: forwards;
    }
}

.header_service_menu-enter-done {
    // height: 225px;

    .header_service_links {
        opacity: 1;
        bottom: 40px;
    }
}
.header_service_menu-exit {
    .header_service_links {
        animation: closeLinks;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
    }
}
.header_service_menu-exit,
.header_service_menu-exit-done {
    transition: height 0.6s 0.3s ease;
    // height: 0px;

    .header_service_links {
        opacity: 0;
        bottom: 0px;
    }
}

@keyframes openLinks {
    0% {
        opacity: 0;
        bottom: 0px;
    }

    100% {
        opacity: 1;
        bottom: 40px;
    }
}
@keyframes closeLinks {
    0% {
        opacity: 1;
        bottom: 40px;
    }

    100% {
        opacity: 0;
        bottom: 0px;
    }
}
