@import "utils/variables.scss";

.toggleIcon {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    width: 60px;
    color: $label-primary;
    transition: color 0.3s;

    &:hover {
        color: $accent;
    }

    @media only screen and (min-width: $desktop-width) {
        margin-right: 200px;
    }
}
