@import "utils/font-mixins.scss";
@import "utils/variables.scss";

.arrow {
    color: $label-primary;
    transition: transform 0.3s ease-in;
    transform: rotate(0);
    margin-left: 5px;
}
.activeArrow {
    transform: rotate(180deg);
}

.link {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0px 20px;
}
